body {
  background-color: #4a9c8e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 500px;

  .top {
    text-align: center;
  }
  
  .about {
    background-color:	#66bd8c;
    border: solid;
    padding: 10px;
    margin: 10px;
    
  }

  .school {
    background-color: #caf4ad;
    border: solid;
    padding: 10px;
    margin: 10px;
    
  }

  .skill {
    background-color: #ffa0b2;
    border: solid;
    padding: 10px;
    margin: 10px;

  }

  .activity {
    background-color: #dd3a7e;
    border: solid;
    padding: 10px;
    margin: 10px;

  }

  
}